<% include partials/_header %>

<button onclick="NewTab()">
    Open Narvar Hub
</button>

<script type = "text/javascript">
    var jsessionId = <%- JSON.stringify(cookie) %>;
    function NewTab() {
        document.cookie = jsessionId;
        window.open(
            "https://hub-qa01.narvar.qa", "_blank");
    } 
</script>

<% include partials/_footer %>