<% include partials/_header %>

<button onclick="NewTab()">
    Open Narvar Hub
</button>

<script type = "text/javascript">
    function NewTab() {
        window.open(
            "https://hub-qa01.narvar.qa", "_blank");
    } 
</script>

<% include partials/_footer %>