<% include partials/_header %>

<button onclick="NewTab()">
    Open Narvar Hub
</button>

<script type = "text/javascript">
    var jsessionId = <%= cookie %>
    function NewTab() {
        window.open(
            "https://e601acee9299.ngrok.io/load/hub?jsession_id="+jsessionId, "_blank");
    } 
</script>

<% include partials/_footer %>